head
	meta(charset="utf-8")
	title Ajax Practice

body
	div(id="content")
		h1 Press the button to make an AJAX call
		button(type="button", onclick="loadChanges()") Change Content
	script(src="./ajax.js")
